{% extends 'base.html' %}
{% load static %}
	{% block content %}
	
		<!-- Start All Pages -->
		<div class="all-page-title page-breadcrumb">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12">
						<h1>تماس باما</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- End All Pages -->
		
		<!-- Start Contact -->
		<div class="map-full"></div>
		<div class="contact-box">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>مخاطب</h2>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name" placeholder="نام" required data-error="Please enter your name">
										<div class="help-block with-errors"></div>
									</div>                                 
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" placeholder="ایمیل" id="email" class="form-control" name="email" required data-error="Please enter your email">
										<div class="help-block with-errors"></div>
									</div> 
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<div class="help-block with-errors"></div>
									</div> 
								</div>
								<div class="col-md-12">
									<div class="form-group"> 
										<textarea class="form-control" id="message" placeholder="پیام" rows="4" name ="message" data-error="Write your message" required></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">ارسال پیام</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div> 
										<div class="clearfix"></div> 
									</div>
								</div>
							</div>            
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End Contact -->
		
		<!-- Start Contact info -->
		<div class="contact-imfo-box">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-volume-control-phone"></i>
						<div class="overflow-hidden">
							<h4>تلفن</h4>
							<p class="lead">
								+01 123-456-4590
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<i class="fa fa-envelope"></i>
						<div class="overflow-hidden">
							<h4>ایمیل</h4>
							<p class="lead">
								yourmail@gmail.com
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<i class="fa fa-map-marker"></i>
						<div class="overflow-hidden">
							<h4>نقشه</h4>
							<p class="lead">
								800, Lorem Street, US
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Contact info -->
	{% endblock content %}	